.str-video__speaker-layout__wrapper {
  max-width: 98dvw;
}

// .str-video__call-controls {
//   gap: 10px;
// }

.str-video__call-controls__button {
  padding: 10px;
}

// .str-video__composite-button__button {
//   padding: 12px !important;
// }

.str-video__menu-toggle-button {
  padding-left: 12px;
  padding-right: 12px;
}


.room-container {
  max-height: 100dvh;
  overflow: hidden;
}

.str-video__speaker-layout__participants-bar-buttons-wrapper {
  max-height: 100dvh;
  max-width: 100dvw;
}

.chat-sidebar {
  height: calc(100vh - 86px);
  overflow: hidden;
  transition: width 0.3s ease-out;
}

@media screen and (max-width: 768px) {
  .chat-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

.str-chat__channel {
  width: 100%;
  padding-bottom: 22px;
}

.sidebar-container {
  right: 0;
  top: 0;
  height: calc(100dvh - 86px);
  margin-top: -66px;
  overflow: hidden;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.sidebar-container.mobile {
  width: 97%;
  max-height: 89.8dvh;
  background-color: rgba(0, 0, 0, 0.9);
}

.sidebar-container.hidden {
  background-color: transparent;
}

@media screen and (max-width: 700px) {
  .sidebar-container {
    position: absolute;
    bottom: 86px;
    top: auto;
  }
}

.control_wrapper {
  z-index: 50;
}

.str-video__call-controls__button.str-video__menu-toggle-button {
  height: auto;
  padding: 4px !important;
}

.str-video__participant-list {
 background-color: rgb(247, 247, 247);
 color: black;

 button {
  color: black;
  background-color: #747474;
 }
}

.str-video__participant-listing-item .str-video__call-controls__button {
  padding:5px !important;
  width: 30px;
  height: 30px;
}

.str-video__participant-list-header__close-button {
  padding: 8px !important;
  height: 30px;
  width: 30px;
}


.str-video__search-input__container {
  background-color: rgb(224, 224, 224);

  * {
    &::placeholder {
      color: #666 !important;
    }
  }
}