.str-video__speaker-layout__wrapper {
  max-width: 98dvw;
}

// .str-video__call-controls {
//   gap: 10px;
// }

.str-video__call-controls__button {
  padding: 10px;
}

// .str-video__composite-button__button {
//   padding: 12px !important;
// }

.str-video__menu-toggle-button {
  padding-left: 12px;
  padding-right: 12px;
}


.room-container {
  max-height: 100dvh;
  overflow: hidden;
}

.str-video__speaker-layout__participants-bar-buttons-wrapper {
  max-height: 100dvh;
  max-width: 100dvw;
}

.chat-sidebar {
  height: calc(100vh - 86px);
  overflow: hidden;
  transition: width 0.3s ease-out;
}

@media screen and (max-width: 768px) {
  .chat-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

.str-chat__channel {
  width: 100%;
  padding-bottom: 22px;
}

.sidebar-container {
  right: 0;
  top: 0;
  height: calc(100dvh - 86px);
  margin-top: -66px;
  overflow: hidden;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.sidebar-container.mobile {
  width: 97%;
  max-height: 89.8dvh;
  background-color: rgba(0, 0, 0, 0.9);
}

.sidebar-container.hidden {
  background-color: transparent;
}

@media screen and (max-width: 700px) {
  .sidebar-container {
    position: absolute;
    bottom: 86px;
    top: auto;
  }
}

.control_wrapper {
  z-index: 50;
}

.str-video__call-controls__button.str-video__menu-toggle-button {
  height: auto;
  padding: 4px !important;
}

.str-video__participant-list {
 background-color: rgb(247, 247, 247);
 color: black;

 button {
  color: black;
  background-color: #747474;
 }
}

.str-video__participant-listing-item .str-video__call-controls__button {
  padding:5px !important;
  width: 30px;
  height: 30px;
}

.str-video__participant-list-header__close-button {
  padding: 8px !important;
  height: 30px;
  width: 30px;
}


.str-video__search-input__container {
  background-color: rgb(224, 224, 224);

  * {
    &::placeholder {
      color: #666 !important;
    }
  }
}

.str-video__participant-listing-item__icon-camera {
  background-color: #45b125 !important;
}

.str-video__participant-listing-item__icon-mic {
  background-color: #45b125 !important;
}

.str-video__participant-view > .str-video__call-controls__button {
  padding: 10px;
}

.video-modal-content {
  max-height: 70vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
.rd__video-effects {
  padding: var(--str-video__spacing-lg);

  .rd__video-effects__list {
    padding-top: var(--str-video__spacing-md);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .str-video__composite-button__button-group {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;

      .str-video__icon {
        width: 2rem;
        height: 2rem;
      }
    }

    .rd__video-effects__blur--medium {
      .str-video__icon {
        width: 1.7rem;
        height: 1.7rem;
      }
    }

    .rd__video-effects__blur--low {
      .str-video__icon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  .rd__video-effects__preview-container {
    display: flex;
    flex-direction: column;
    min-height: 320px;
    max-width: 480px;

    .str-video__video-preview-container {
      width: 100%;
    }
  }

  .rd__video-effects__image {
    width: 180px;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border: 1px solid var(--str-video__base-color6);
    border-radius: var(--str-video__border-radius-xs);
    display: inline-block;

    &:hover {
      border-color: var(--str-video__brand-color1);
    }

    &--active {
      border-color: var(--str-video__brand-color1);
    }
  }
  }
}

.custom-scrollbar {
  padding-bottom: 4px;
  scrollbar-width: auto;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}