.str-video__speaker-layout__wrapper {
  max-width: 98dvw;
}

.str-video__call-controls {
  gap: 10px;
}

.str-video__call-controls__button {
  padding: 10px;
}

.str-video__composite-button__button {
  padding: 12px !important;
}

.room-container {
  max-height: 100dvh;
  overflow: hidden;
}

.str-video__speaker-layout__participants-bar-buttons-wrapper {
  max-height: 100dvh;
  max-width: 100dvw;
}